<%- include top %>
<style>
      body {
        background-image: url('http://cdn.bootcss.com/xxx/foo.jpg');
        background-image: url("http://cdn.bootcss.com/xxx/foo.jpg");
        background-image: url(http://cdn.bootcss.com/xxx/foo.jpg);
        background-image: url('http://cdn.bootcss.com/xxx/foo.png');
        background-image: url('http://cdn.bootcss.com/xxx/foo.png');
        
        background-image: url('http://demo.com/bar/foo.png');
        background-image: url('http://cdn.bootcss.com/xxx/foo.gif');
        background-image: url('foo/bar.jpg');
        background-image: url('data:gif; base64XQTRTWEQW');
      }
    </style>
    <!-- Bootstrap Core-->
    <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  
  <body>
    <h1>Hello</h1>
    <img something src="http://cdn.bootcss.com/xxx/foo.jpg" data-hiya data-food="crimson">

    <img src=foo/lala.png yo="what" />
    <%
        var str = '<img src="foo.png" yo="what" />';
    %>
    <img src="http://cdn.bootcss.com/xxx/foo.gif" something=blah  > :)
    <img src="http://demo.com/bar/foo.png" something=blah  >
    <img src="http://cdn.bootcss.com/xxx/foo.png" something=blah  >

    <!-- jquery.js -->
    <script src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<%- include bottom %>
